.about {
  font-family: 'raleway';
}
.about .bgContainer {
  background-image: url('../public/uploads/t4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.7;
  padding: 20px;
}
.about .bgContainer .contentContainer {
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.about .bgContainer .contentContainer .aboutContainer {
  background-color: var(--dark);
  color: var(--white);
  padding: 20px;
}
.about .bgContainer .contentContainer .formContainer {
  background-color: #22232a80;
  color: var(--white);
  padding: 20px;
}
.about .bgContainer .contentContainer .formContainer input,
.about .bgContainer .contentContainer .formContainer textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-family: 'raleway';
  color: var(--white);
  font-weight: 500;
}
.about .bgContainer .contentContainer .formContainer input textarea::-webkit-scrollbar,
.about .bgContainer .contentContainer .formContainer textarea textarea::-webkit-scrollbar {
  display: none;
}
