.admin {
  height: 100%;
  background-color: var(--admin-middle);
  padding: 40px;
  font-family: 'Raleway';
}
.admin h2 {
  text-transform: uppercase;
  color: var(--admin-white);
  font-weight: 400;
  margin: 0;
}
.admin img {
  width: 300px;
}
.admin .sectionContainer {
  background-color: var(--admin-dark);
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(6, auto);
  padding: 20px 60px;
}
.admin .sectionContainer .firstRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  margin-bottom: 20px;
}
.admin .sectionContainer .secondRow {
  padding: 20px;
  text-align: center;
}
.admin .sectionContainer .secondRow .galleryContainer {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.admin .sectionContainer .secondRow .galleryContainer img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.admin .sectionContainer .secondRow .galleryContainer div {
  float: right;
}
.admin .sectionContainer a {
  background: #f5f5f740;
  color: #fff;
  border-radius: 7px;
  padding: 8px 20px 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.admin .sectionContainer a:hover {
  transform: scale(1.03);
}
.admin .sectionContainer .thirdRow {
  padding: 20px;
  text-align: center;
}
.admin .sectionContainer .thirdRow .gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  color: var(--admin-white);
  text-transform: uppercase;
}
.admin .sectionContainer .thirdRow .gallery .itemContainer {
  background: #283337;
  background: linear-gradient(20deg, var(--admin-grad) 40%, #283337 85%, #2a4745 100%);
  margin: 0px 20px 20px;
  padding: 20px 20px 40px;
}
.admin .sectionContainer .thirdRow .gallery .itemContainer img {
  height: 300px;
  object-fit: cover;
}
.admin .sectionContainer .thirdRow .gallery .itemContainer div {
  float: right;
}
