.form {
  height: 100%;
  font-family: 'Raleway';
  color: var(--admin-white);
  letter-spacing: 0.1rem;
}
.form .h2 {
  text-align: left;
}
.form .container {
  background: #283337;
  background: linear-gradient(20deg, var(--admin-grad) 40%, #283337 85%, #2a4745 100%);
  width: 70%;
  padding: 20px;
  color: var(--middle-grey);
  border-radius: 5px;
  margin: 20px 0;
}
.form .container .inputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}
.form .container .inputContainer .title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
.form .container .inputContainer .input,
.form .container .inputContainer select {
  margin-bottom: 30px;
  border-style: none;
  height: 25px;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  color: var(--admin-white);
  background-color: #3d4045;
  padding-left: 10px;
  font-family: 'Raleway';
  letter-spacing: 0.1rem;
}
.form .container select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  cursor: pointer;
}
.form .container select option {
  color: #8b8b8b;
}
.form .container select::-ms-expand {
  display: none;
}
.form .container select:focus::-ms-value {
  background-color: transparent;
}
.form .container .imageUploader {
  background-color: rgba(122, 122, 122, 0.116);
  border-radius: 5px;
  border-style: none;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.form .container .imageUploader h4 {
  z-index: 1;
  position: absolute;
  text-transform: uppercase;
  color: #666;
}
.form .container .imageUploader input {
  opacity: 0;
  width: 100%;
  height: 90px;
  z-index: 2;
}
.form .container .imageUploader .img {
  max-height: 180px;
  margin-left: 40px;
}
.form .container .uploadbtn {
  display: inline-block;
  border: 0;
  background: #f5f5f740;
  color: #fff;
  padding: 8px 20px 5px;
  font-size: 14px;
  letter-spacing: 0.1rem;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.form .container .uploadbtn:hover {
  transform: scale(1.02);
}
.form .container .button {
  display: inline-block;
  border: 0;
  background: #f5f5f740;
  color: #fff;
  padding: 8px 20px 5px;
  font-size: 14px;
  letter-spacing: 0.1rem;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.form .container .button:hover {
  transform: scale(1.02);
}
.form .container .buttonContainer {
  text-align: right;
}
