.title {
  text-align: center;
  font-family: 'Montserrat';
}
.table {
  border-collapse: collapse;
  border-radius: 10px;
  background: var(--darkest-grey);
  width: 90%;
  margin: 0 auto;
  color: var(--middle-grey);
  position: relative;
}
.table .th,
.table .td {
  padding: 10px 10px;
  font-size: 16px;
  border-left: 1px solid var(--dark-grey);
}
.table .th .i,
.table .td .i {
  cursor: pointer;
  float: right;
  margin-right: 5px;
}
.table span {
  padding-left: 10px;
}
.table .thName,
.table .th {
  border-bottom: 1px solid var(--dark-grey);
}
.table .td,
.table .tdName {
  border-top: 1px solid var(--dark-grey);
}
.button {
  background: var(--blue);
  color: #fff;
  border-radius: 7px;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 5%;
  cursor: pointer;
  float: right;
}
.button:hover {
  transform: scale(0.98);
}
.buttonContainer {
  width: 100%;
}
