@media (min-width: 992px) {
  .nav .navContainerHidden {
    top: -55px;
    position: fixed;
  }
  .nav .navContainer {
    list-style: none;
    display: flex;
    margin: 0;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #202022f3;
    margin-top: 0;
    font-family: 'Raleway';
    font-weight: 500;
    z-index: 10;
    align-items: center;
  }
  .nav .navContainer .left {
    justify-content: left;
    position: absolute;
    left: 50px;
    font-size: 26px;
  }
  .nav .navContainer .right {
    display: flex;
    position: absolute;
    right: 50px;
  }
  .nav .navContainer .right a {
    margin: 0 10px;
    font-size: 22px;
  }
  .nav .navContainer .right a:hover {
    transform: scale(1.1);
    color: #fff;
    cursor: pointer;
  }
  .nav .navContainer a {
    text-decoration: none;
    color: var(--white);
  }
}
@media (max-width: 991px) {
  .nav .navContainerHidden {
    top: -55px;
    position: fixed;
  }
  .nav .navContainer {
    list-style: none;
    display: flex;
    margin: 0;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #202022f3;
    margin-top: 0;
    font-family: 'Raleway';
    font-weight: 500;
    z-index: 10;
    align-items: center;
  }
  .nav .navContainer .left {
    justify-content: left;
    position: absolute;
    left: 30px;
    font-size: 24px;
  }
  .nav .navContainer .right {
    display: flex;
    position: absolute;
    right: 30px;
  }
  .nav .navContainer .right a {
    margin: 0 10px;
    font-size: 20px;
  }
  .nav .navContainer .right a:hover {
    transform: scale(1.1);
    color: #fff;
    cursor: pointer;
  }
  .nav .navContainer a {
    text-decoration: none;
    color: var(--white);
  }
}
@media (max-width: 480px) {
  .nav .navContainerHidden {
    top: -55px;
    position: fixed;
  }
  .nav .navContainer {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #202022f3;
    margin-top: 0;
    font-family: 'Raleway';
    padding: 15px 0px;
    font-weight: 500;
    z-index: 10;
  }
  .nav .navContainer .left {
    font-size: 22px;
    text-align: center;
    margin-bottom: 7px;
  }
  .nav .navContainer .right {
    grid-row-start: 2;
    width: 100%;
    text-align: center;
  }
  .nav .navContainer .right a {
    margin: 10px;
    padding: 0;
    font-size: 18px;
  }
  .nav .navContainer .right a:hover {
    transform: scale(1.1);
    color: #fff;
    cursor: pointer;
  }
  .nav .navContainer a {
    text-decoration: none;
  }
}
